@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
    ) rgb(var(--background-start-rgb));
}

.scene {
    @apply
    w-screen
    h-screen
    z-0;
}

.canvas {
    @apply
    bg-sky-300
    fixed;
}

.rounded-logo {
    @apply
    border-4
    border-green-500
    rounded-full
    w-[150px]
    h-[150px]
    object-cover;
}

.loading-container {
    @apply
    flex
    flex-col
    items-center
    justify-center
    h-screen
    w-screen;
}

.loading-logo {
    @apply
    mb-5
}

.progress-bar {
    @apply
    w-[200px]
    h-2
    bg-white
    rounded
    overflow-hidden;
}

.progress {
    @apply
    h-full
    bg-[#5c90ff]
}

.loading-text {
    @apply
    mt-2.5
    text-white
    text-lg
}

.data-container {
    @apply
    z-50
    w-[300px]
    h-[300px]
    bg-white
    rounded-lg
    border-2
    border-black
    absolute
    left-5
    top-5
    flex
    flex-row
    flex-wrap
    justify-around;
}

.temp-container {
    @apply
    w-[120px]
    items-end
    flex
    justify-center
    self-start
    flex-initial;
}

.outer-circle {
    @apply
    rounded-tr-full
    rounded-tl-full
    bg-gradient-to-r from-blue-400 via-purple-500 to-red-500
    w-[120px]
    h-[60px]
    flex
    items-end
    justify-center
    mb-5
    border-black
    border
}

.temp-value {
    @apply
    w-[6px]
    h-[60px]
        /*mb-1*/
    origin-bottom
    absolute
    flex
    items-start
    justify-center
    /*bg-black*/
}

.inner-circle {
    @apply
    w-[90px]
    h-[45px]
    rounded-tr-full
    rounded-tl-full
    bg-white
    flex
    items-center
    justify-center
    text-black
    absolute
    border-t-black
    border-x-black
    border;
}

.bottom-border {
    @apply
    w-[120px]
    h-[12px]
    bg-white
    absolute
}

.temp-circle {
    @apply
    w-[15px]
    h-[15px]
    rounded-full
    bg-gray-50
    border-2
    border-gray-400
    origin-right
    absolute;
}

.history-container {
    @apply
    z-50
    w-[300px]
    h-[300px]
    bg-white
    rounded-lg
    border-2
    border-black
    absolute
    left-5
    top-5
    flex-col;
}

.flip-button {
    @apply
    w-auto
    h-auto
    fixed
    left-6
    top-4;
}

.flip{
    animation-name: flip;
    animation-duration: 1s;
}

@keyframes flip {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(180deg);
    }
}